---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h1 class="text-3xl">Impressum</h1>
  <section class="space-y-12">
    <h2 class="text-xl mt-12 mb-6">Angaben gemäß § 5 TMG:</h2>
    <p>
      Studio Tobias Rehberger<br />
      Lindleystr. 5<br />
      D-60314 Frankfurt
    </p>
    <h3 class="text-lg mt-12 mb-6">Kontakt</h3>
    <p>
      <a href="mailto:info@tobiasrehberger.de">info@tobiasrehberger.de</a>
    </p>
  </section>
</Layout>
