---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import manualImage from "../assets/manual.png";
---

<Layout>
  <h1 class="text-3xl">Erklärung Alphabet</h1>
  <section class="space-y-12">
    <div>
      <img
        src={manualImage.src}
        class="pt-[5%] px-[5%] pb-[3%] bg-white w-full"
        alt="Anleitung trilg App"
      />
    </div>
  </section>
</Layout>
