---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import manualImage from "../assets/manual.png";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h1 class="text-3xl">Erkl채rung Alphabet</h1>
  <section class="space-y-12">
    <!-- <h2 class="text-xl mt-12 mb-6">Schritt f체r Schritt</h2>
    <p>
      Hier steht in K체rze eine Anleitung, die die Benutzung der App erkl채rt.
    </p> -->
    <img
      src={manualImage.src}
      alt="Anleitung trilg App"
      class="w-full bg-white border-10 border-white"
    />
  </section>
</Layout>
