---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h2 class="text-3xl">Datenschutz</h2>
  <section class="space-y-6">
    <h4 class="text-lg mt-12 mb-6">Datenschutzerklärung</h4>
    <p>
      Diese Datenschutzerklärung gilt für die <i>trilg</i> App (nachfolgend „Anwendung“),
      eine mobile Applikation, die vom Studio Tobias Rehberger (nachfolgend „Diensteanbieter“)
      als kostenloser Dienst („Free service“) bereitgestellt wird. Dieser Dienst
      ist zur Nutzung „WIE BESEHEN“ („AS IS“) vorgesehen.
    </p>

    <h4 class="text-lg mt-12 mb-6">
      Welche Informationen erhebt die Anwendung und wie werden sie verwendet?
    </h4>
    <p>
      Die Anwendung erhebt keine Informationen, wenn Sie sie herunterladen und
      verwenden. Eine Registrierung ist für die Nutzung der Anwendung nicht
      erforderlich.
    </p>
    <p>
      Innerhalb der Anwendung geben Nutzer*innen ihren Namen ein. Dieser Name
      wird ausschließlich dazu verwendet, ein Bild zu generieren. Die gesamte
      Verarbeitung erfolgt direkt auf dem Smartphone:
    </p>
    <ul class="list-disc ml-6">
      <li>Der eingegebene Name wird nur lokal auf dem Gerät verarbeitet.</li>
      <li>Der Name wird nicht an einen Server gesendet.</li>
      <li>
        Es werden generell keine Daten von der App an externe Server übertragen
        oder von dort empfangen.
      </li>
    </ul>
    <p>
      Abgesehen von dieser rein lokalen Verarbeitung des eingegebenen Namens
      erhebt oder übermittelt die Anwendung keine personenbezogenen Daten.
    </p>

    <h4 class="text-lg mt-12 mb-6">
      Erfasst die Anwendung genaue Standortdaten des Geräts in Echtzeit?
    </h4>
    <p>
      Diese Anwendung erfasst keine genauen Informationen über den Standort
      Ihres mobilen Geräts.
    </p>

    <h4 class="text-lg mt-12 mb-6">
      Können Dritte die durch die Anwendung erhaltenen Informationen einsehen
      oder Zugriff darauf haben?
    </h4>
    <p>
      Da die Anwendung keine Informationen erhebt oder übermittelt, werden auch
      keine Daten an Dritte weitergegeben.
    </p>

    <h4 class="text-lg mt-12 mb-6">
      Welche Abmeldemöglichkeiten („Opt-out rights“) habe ich?
    </h4>
    <p>
      Sie können jede Erhebung oder Verarbeitung von Informationen durch die
      Anwendung vollständig beenden, indem Sie die Anwendung deinstallieren.
      Hierfür können Sie die auf Ihrem mobilen Gerät vorgesehenen
      Standard-Deinstallationsprozesse oder die Funktionen des jeweiligen
      App-Stores bzw. der jeweiligen Plattform nutzen.
    </p>

    <h4 class="text-lg mt-12 mb-6">Kinder</h4>
    <p>
      Die Anwendung wird nicht verwendet, um wissentlich Daten von Kindern unter
      13 Jahren zu erheben oder an diese zu vermarkten.
    </p>
    <p>
      Der Diensteanbieter erhebt nicht wissentlich personenbezogene Daten von
      Kindern. Der Diensteanbieter ermutigt alle Kinder, niemals
      personenbezogene Daten über die Anwendung und/oder Dienste zu übermitteln.
      Der Diensteanbieter bittet Eltern und Erziehungsberechtigte, die
      Internetnutzung ihrer Kinder zu überwachen und zur Durchsetzung dieser
      Richtlinie beizutragen, indem sie ihre Kinder anweisen, ohne ihre
      Zustimmung niemals personenbezogene Daten über die Anwendung und/oder
      Dienste bereitzustellen.
    </p>
    <p>
      Wenn Sie Grund zur Annahme haben, dass ein Kind dem Diensteanbieter über
      die Anwendung und/oder Dienste personenbezogene Daten übermittelt hat,
      kontaktieren Sie den Diensteanbieter bitte unter
      <a href="mailto:info@trilg.app">info@trilg.app</a>, damit die notwendigen
      Maßnahmen ergriffen werden können. Sie müssen außerdem mindestens 16 Jahre
      alt sein, um in Ihrem Land in die Verarbeitung Ihrer personenbezogenen
      Daten einwilligen zu können (in einigen Ländern kann dies auch durch Ihre
      Eltern oder Erziehungsberechtigten in Ihrem Namen erfolgen).
    </p>

    <h4 class="text-lg mt-12 mb-6">Sicherheit</h4>
    <p>
      Dem Diensteanbieter ist der Schutz der Vertraulichkeit Ihrer Informationen
      wichtig. Da die Anwendung jedoch keinerlei Daten an Server übermittelt
      oder dort speichert, besteht kein Risiko, dass Ihre Daten von unbefugten
      Personen eingesehen oder abgegriffen werden könnten. Die Verarbeitung des
      eingegebenen Namens findet ausschließlich lokal auf Ihrem Gerät statt.
    </p>

    <h4 class="text-lg mt-12 mb-6">Änderungen</h4>
    <p>
      Diese Datenschutzerklärung kann von Zeit zu Zeit aus beliebigen Gründen
      aktualisiert werden. Der Diensteanbieter wird Sie über Änderungen
      informieren, indem diese Seite mit der neuen Datenschutzerklärung
      aktualisiert wird. Es wird empfohlen, diese Datenschutzerklärung
      regelmäßig auf Änderungen zu prüfen, da die fortgesetzte Nutzung der
      Anwendung als Zustimmung zu allen Änderungen gilt.
    </p>
    <p>Diese Datenschutzerklärung ist gültig ab dem 2025-11-24.</p>

    <h4 class="text-lg mt-12 mb-6">Ihre Einwilligung</h4>
    <p>
      Durch die Nutzung der Anwendung erklären Sie sich mit der Verarbeitung
      Ihrer Informationen gemäß dieser Datenschutzerklärung in ihrer jeweils
      aktuellen Fassung einverstanden.
    </p>

    <h4 class="text-lg mt-12 mb-6">Kontakt</h4>
    <p>
      Wenn Sie Fragen zum Datenschutz im Zusammenhang mit der Nutzung der
      Anwendung haben oder Fragen zu den beschriebenen Praktiken, kontaktieren
      Sie den Diensteanbieter bitte per E-Mail unter
      <a href="mailto:info@trilg.app">info@trilg.app</a>.
    </p>
  </section>
</Layout>
