---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <h2 class="text-3xl">Datenschutz</h2>
  <section class="space-y-6">
    <h3 class="text-xl mt-12 mb-6">Datenschutzerklärung gemäß DSGVO</h3>
    <p>
      Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst und behandeln
      Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen
      Datenschutzvorschriften sowie dieser Datenschutzerklärung.
    </p>
    <h4 class="text-lg mt-12 mb-6">
      Erhebung und Verarbeitung personenbezogener Daten
    </h4>
    <p>
      Personenbezogene Daten sind alle Informationen, die sich auf eine
      identifizierte oder identifizierbare natürliche Person beziehen. Wir
      erheben und verarbeiten personenbezogene Daten nur, wenn Sie uns diese
      freiwillig mitteilen, z.B. im Rahmen einer Kontaktaufnahme.
    </p>

    <h4 class="text-lg mt-12 mb-6">Kontakt</h4>
    <p>
      <a href="mailto:info@tobiasrehberger.de">info@tobiasrehberger.de</a>
    </p>
    <h4 class="text-lg mt-12 mb-6">Welche Daten wir erheben</h4>
    <p>
      Wir erheben nur die personenbezogenen Daten, die Sie uns freiwillig zur
      Verfügung stellen, z.B. Ihren Namen und Ihre E-Mail-Adresse, wenn Sie uns
      kontaktieren.
    </p>
    <p>trilg speichert keine personenbezogenen Daten automatisch.</p>

    <h4 class="text-lg mt-12 mb-6">Rechte der betroffenen Personen</h4>
    <p>
      Sie haben das Recht, Auskunft über die bei uns gespeicherten
      personenbezogenen Daten zu erhalten. Zudem haben Sie das Recht auf
      Berichtigung, Löschung oder Einschränkung der Verarbeitung Ihrer
      personenbezogenen Daten sowie das Recht auf Datenübertragbarkeit.
    </p>
    <p>
      Wenn Sie der Ansicht sind, dass die Verarbeitung Ihrer personenbezogenen
      Daten gegen geltendes Recht verstößt, können Sie eine Beschwerde bei der
      zuständigen Aufsichtsbehörde einreichen.
    </p>

    <h4 class="text-lg mt-12 mb-6">Änderungen dieser Datenschutzerklärung</h4>
    <p>
      Wir behalten uns das Recht vor, diese Datenschutzerklärung jederzeit zu
      ändern. Die jeweils aktuelle Version ist auf unserer Website verfügbar.
    </p>
  </section>
</Layout>
